[Unit]
Description=demo fastapi application
After=network.target

[Service]
User=eugene
Group=eugene
WorkingDirectory=/home/eugene/app/src/
Environment="PATH=/home/eugene/app/venv/bin"
ExecStart=/home/eugene/app/venv/bin/gunicorn -w 4 -k uvicorn.workers.UvicornWorker app.
main:app --bind 0.0.0.0:8000

[Install]
Wantedby=multi-user.target 